<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.commands">
      <category
            id="cufir-plugin-mr.commands.category"
            name="openFile Category">
      </category>
      <command
            categoryId="cufir-plugin-mr.commands.category"
            name="openFile"
            id="cufir-plugin-mr.commands.openFileCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.cufir.plugin.mr.handlers.OpenFileHandler"
            commandId="cufir-plugin-mr.commands.openFileCommand">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.cufir.plugin.mr.view.MrTreeView"
            icon="icons/toolbar/map_magnify.png"
            id="org.cufir.plugin.mr.view.MrTreeView"
            name="Model Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.cufir.plugin.mr.editor.BusinessComponentEditor"
            default="true"
            icon="icons/BusinessComponent_16.png"
            id="org.cufir.plugin.mr.editor.BusinessComponentEditor"
            name="BusinessComponentEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageComponentEditor"
            default="false"
            icon="icons/MessageComponent_lock.gif"
            id="org.cufir.plugin.mr.editor.MessageComponentEditor"
            name="MessageComponentEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageSetsEditor"
            default="false"
            icon="icons/MXMessageSet.gif"
            id="org.cufir.plugin.mr.editor.MessageSetsEditor"
            name="MessageSetsEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageComponentEditor"
            default="false"
            icon="icons/MessageComponent_lock.gif"
            id="org.cufir.plugin.mr.editor.MessageComponentEditor"
            name="MessageComponentEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageSetEditor"
            default="false"
            icon="icons/MXMessageSet.gif"
            id="org.cufir.plugin.mr.editor.MessageSetEditor"
            name="MessageSetEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.DataTypesEditor"
            default="true"
            id="org.cufir.plugin.mr.editor.DataTypesEditor"
            name="DataTypesEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageDefinitionEditor"
            default="false"
            id="org.cufir.plugin.mr.editor.MessageDefinitionEditor"
            name="MessageDefinitionEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.BusinessAreaEditor"
            default="false"
            icon="icons/city-icon_16.png"
            id="org.cufir.plugin.mr.editor.BusinessAreaEditor"
            name="BusinessAreaEditor">
      </editor>

      <editor
            class="org.cufir.plugin.mr.editor.ExternalSchemasEditor"
            default="true"
            icon="icons/FAQ-icon_16.png"
            id="org.cufir.plugin.mr.editor.ExternalSchemasEditor"
            name="ExternalSchemasEditor">
      </editor>

      <editor
            class="org.cufir.plugin.mr.editor.DataTypesEditor"
            default="true"
            icon="icons/FAQ-icon_16.png"
            id="org.cufir.plugin.mr.editor.DataTypesEditor"
            name="DataTypesEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.ExternalSchemasEditor"
            default="false"
            icon="icons/FAQ-icon_16.png"
            id="org.cufir.plugin.mr.editor.ExternalSchemasEditor"
            name="ExternalSchemasEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.BusinessAreaEditor"
            default="false"
            icon="icons/city-icon_16.png"
            id="org.cufir.plugin.mr.editor.BusinessAreaEditor"
            name="BusinessAreaEditor">
      </editor>
      <editor
            class="org.cufir.plugin.mr.editor.MessageDefinitionEditor"
            default="false"
            icon="icons/new-message-icon_16.png"
            id="org.cufir.plugin.mr.editor.MessageDefinitionEditor"
            name="MessageDefinitionEditor">
      </editor>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.cufir.plugin.mr.handlers.SaveHandler"
            commandId="cufir-plugin-ds.commands.save">
      </handler>
      <handler
            class="org.cufir.plugin.mr.handlers.SaveHandler"
            commandId="cufir-plugin-mr.commands.save">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cufir-plugin-mr.commands.save"
            contextId="cufir-plugin-mr.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+S">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cufir-plugin-mr.commands.save"
            name="saveCommand">
      </command>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="cufir-plugin-mr.context"
            name="cufir-plugin-mr.context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>     

</plugin>
