<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<!-- startup -->
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.cufir.rcp.kit.AppStart">
      </startup>
   </extension>
 
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.cufir.rcp.kit.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cufir.rcp.kit.CufirPerspective"
            id="cufir-rcp-kit.perspective"
            name="CufirPerspective">
      </perspective>
   </extension>
   
  <!-- <extension
         point="org.eclipse.ui.commands">
      <category
            id="cufir-plugin-ds.commands.category"
            name="cufir">
      </category>
      
       <command
            name="problem"
            categoryId="cufir-plugin-ds.commands.category"
            id="cufir-plugin-ds.commands.problem">
      </command>
      
       <command
            name="progress"
            categoryId="cufir-plugin-ds.commands.category"
            id="cufir-plugin-ds.commands.progress">
      </command>
       <command
             categoryId="cufir-plugin-ds.commands.category"
             id="cufir-plugin-ds.commands.search"
             name="search">
       </command>
       <command
             categoryId="cufir-plugin-ds.commands.category"
             id="cufir-plugin-ds.commands.tasks"
             name="tasks">
       </command>
       <command
             categoryId="cufir-plugin-ds.commands.category"
             id="cufir-plugin-ds.commands.about"
             name="About">
       </command>
       <command
             categoryId="cufir-plugin-ds.commands.category"
             id="cufir-plugin-app.commands.addProblems"
             name="addProblems">
       </command>
      
   </extension>-->
 
   <extension
         point="org.eclipse.ui.handlers">
      
      <handler
            commandId="cufir-plugin-ds.commands.problem"
            class="org.cufir.rcp.kit.handlers.ProblemHandler">
      </handler>
      
      <handler
            commandId="cufir-plugin-ds.commands.progress"
            class="org.cufir.rcp.kit.handlers.ProgressHandler">
      </handler>
      <handler
            class="org.cufir.rcp.kit.handlers.SearchHandler"
            commandId="cufir-plugin-ds.commands.search">
      </handler>
      <handler
            class="org.cufir.rcp.kit.handlers.TasksHandler"
            commandId="cufir-plugin-ds.commands.tasks">
      </handler>
      <handler
            class="org.cufir.rcp.kit.handlers.AboutHandler"
            commandId="cufir-plugin-ds.commands.about">
      </handler>
      
      <handler
            class="org.cufir.rcp.kit.handlers.AddProblemsHandler"
            commandId="cufir-plugin-app.commands.addProblems">
      </handler>
      <handler
            class="org.cufir.rcp.kit.handlers.ModifyAbleHandler"
            commandId="cufir-plugin-ds.commands.modifyAble">
      </handler>
      
      <handler
            class="org.cufir.rcp.kit.handlers.RefreshViewHandler"
            commandId="cufir-plugin-app.commands.refreshView">
      </handler>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         
         <menu
               label="File">
            
             <command
                  commandId="cufir-plugin-mr.commands.openFileCommand"
                  label="Open...">
            </command>
            
             <command
                   commandId="cufir-plugin-ds.commands.save"
                   icon="icons/save_edit.gif"
                   label="Save">
            </command>
            
            <separator
                  name="cufir-plugin-ds.separator01"
                  visible="true">
            </separator>
            
             <command
                   commandId="cufir-plugin-ds.commands.saveAll"
                   icon="icons/saveall_edit.gif"
                   label="Save All">
            </command>
            
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <!-- 
         <menu
               label="文件">
            
             <command
                  commandId="cufir-plugin-mr.commands.openFileCommand"
                  label="打开...">
            </command>
            
             <command
                   commandId="cufir-plugin-ds.commands.save"
                   icon="icons/save_edit.gif"
                   label="保存">
            </command>
            
            <separator
                  name="cufir-plugin-ds.separator01"
                  visible="true">
            </separator>
            
             <command
                   commandId="cufir-plugin-ds.commands.saveAll"
                   icon="icons/saveall_edit.gif"
                   label="保存全部">
            </command>
            
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="退出">
            </command>
         </menu>
         -->
         
         <menu
               label="Help">
             <command
                  commandId="cufir-plugin-ds.commands.about"
                  label="About...">
            </command>
         </menu>
         <!-- 
         <menu
               label="帮助">
             <command
                  commandId="cufir-plugin-ds.commands.about"
                  label="关于...">
            </command>
         </menu>
         -->
         <!-- 
          <menu
               label="操作">
             <command
                  commandId="cufir-plugin-ds.commands.newMS"
                  label="创建 Message Set">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.newBA"
                  label="创建 Business Area">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.newMD"
                  label="创建 Message Definition">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.newMC"
                  label="创建 Message Component">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.newES"
                  label="创建 External Schema">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.dataType"
                  label="数据类型">
            </command>
             <command
                  commandId="cufir-plugin-ds.commands.addView"
                  label="添加视图">
            </command>
         </menu>
          -->
         
      </menuContribution>
     
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      
    
      
      <view
            class="org.cufir.rcp.kit.views.TaskListView"
            icon="icons/tasks_tsk.gif"
            id="cufir-plugin-ds.views.TaskListView"
            inject="true"
            name="任务">
      </view>
      
      <view
            class="org.cufir.rcp.kit.views.CSearchView"
            icon="icons/search.png"
            id="cufir-plugin-ds.views.SearchView"
            inject="true"
            name="查找">
      </view>
      
      <view
            class="org.cufir.rcp.kit.views.CProgressView"
            icon="icons/progress.png"
            id="cufir-plugin-ds.views.CProgressView"
            inject="true"
            name="进程">
      </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="org.cufir.plugin.mr.view.MrTreeView"
               minimized="false"
               moveable="true"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         
      
      	<!-- hiddenToolBarItem id="cufir-plugin-ds.commands.save"/>
       	<hiddenToolBarItem id="cufir-plugin-ds.toolbarss.saveAll" / -->
      </perspectiveExtension>
   </extension>
   <extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product
			application="cufir-rcp-kit.application"
			name="cufir">
			<property
				name="appName"
				value="cufir">
			</property>
		</product>
   </extension>
   
   <!-- 
   <extension
		id="product"
		point="org.eclipse.core.runtime.products">
		<product
			application="cufir-rcp-kit.application"
			name="cufir">
			<property
				name="windowImages"
				value="icons/ISOEditorLogo_128.gif">
			</property>
			<property
				name="appName"
				value="cufir">
			</property>
		</product>
   </extension>
    -->
    
      <extension point="org.eclipse.e4.ui.css.swt.theme">
     <!--
     -->
     <theme basestylesheeturi="css/cufir-theme-blue.css"
	     	id="cufir.kit.theme"
	     	label="my theme">
     	</theme>
     </extension>
</plugin>
